<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sessión</title>
</head>
<body>

    <h1> Iniciar sessión del usuario </h1>
    <form action="usuariES.php" method="POST"> <!-- obrim formulari i passem el mètoda donat, post perque estem fent ús de dades sensibles-->
    <div>
        <label>Email</label>
        <input type="text" name="email" placeholder="Introduce tu e-mail" required>
    </div>
    <div>
        <label>Contraseña</label>
        <input type="text" name="passwd" placeholder="Introduce tu contraseña" required>
    </div>
    <div>
        <label>Recuerdame </label>
        <input type="checkbox" name="active">
    </div>
    <div>
        <button type="submit" name="send">Enviar</button>
    </div>
    <div>
        <a href="formES.html"> Crear usuario </a>
    </div>
    </form>
    <div>
        <a href="eliminar_Cookie.php"> Eliminar cookie </a><br>
        <a href="index.php"> Volver a la seleccion de idioma</a>
    </div>
</body>
</html>