<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        input {margin:5px;}
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User registrer</title>
</head>
<body>
    <form  method="POST" action="../create_user/form_en.php">
        <h1>Create user</h1>
        <label>ID</label>
        <input type="text" name="id"><br>
        <label>Role</label>
        <select name="rol">
            <option value="alumnat">Student</option>
            <option value="professorat">Teacher</option>
        </select><br>
        <label>Name</label>
        <input type="text" name="nom"><br>
        <label>Surname</label>
        <input type="text" name="cognom"><br>
        <label>Password</label>
        <input type="password" name="passwd"><br>
        <label>Email</label>
        <input type="email" name="email"><br>
        <label>Active</label>
        <input type="checkbox" name="actiu"><br>
        <button type="submit" name="send">Send</button><br>
        <a href="login_en.html" rel="html">Log in as user</a><br>
        <a href="../idioma.php">Language</a><br>
        <a href="../borraCookie.php">Delete cookie</a>
    </form>
</body>
</html>