<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login user</title>
</head>
<body>
    <form method="POST" action="user_en.php">
        <h1>Login user</h1>
        <label for="inputEmail">Email</label>
        <input type="email" placeholder="Email" name="mail"><br>
        <label for="inputPassword">Password</label>
        <input type="password" placeholder="Password" name="pwd">
        <div>
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button type="submit" name="send">Send</button><br>
        <a href="form_en.html" rel="html">Create user</a><br>
        <a href="../idioma.php">Language</a><br>
        <a href="../borraCookie.php">Delete cookie</a>
      </form>
</body>
</html>